#canvas {
    display: none;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 13;
}